<!-- Footer -->
<footer>
  <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <h6 class="navbar-text">&copy; Copyright 2024. All rights reserved.</h6>
    <ul class="navbar-nav">
      <li class="nav-item">
        <% if(title=="GitHub") { %>
          <a class="nav-link active" href="/github">
        <% } else { %>
          <a class="nav-link" href="https://github.com/mackenzi-bot" target="_blank" rel="noopener noreferrer">
        <% } %>
          <i class="fa-brands fa-github"></i> GitHub</a>
      </li>
      <li class="nav-item">
        <% if(title=="LinkedIn") { %>
          <a class="nav-link active" href="/linkedin">
        <% } else { %>
          <a class="nav-link" href="https://www.linkedin.com/in/mackenzi-burke/" target="_blank" rel="noopener noreferrer">
        <% } %>
          <i class="fa-brands fa-linkedin"></i> LinkedIn</a>
      </li>
    </ul>
  </nav>
</footer>
