<body>
    <!--NavBar-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Mackenzi's Website</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <% if(title=="Home") { %>
                <a class="nav-link active" href="/home">
             <% } else { %>
              <a class="nav-link" href="/home">
            <% } %>
              <i class="fa-solid fa-house-chimney"></i> Home</a>
          </li>
          <li class="nav-item">
            <% if(title=="About Me") { %>
                <a class="nav-link active" href="/about">
             <% } else { %>
                <a class="nav-link" href="/about">
            <% } %>
              <i class="fa-solid fa-info"></i> About Me</a>
          </li>
          <li class="nav-item">
            <% if(title=="Product") { %>
                <a class="nav-link active" href="/projects">
              <% } else { %>
                <a class="nav-link" href="/projects">
            <% } %>
              <i class="fa-brands fa-elementor"></i> Projects</a>
          </li>
          <li class="nav-item">
            <% if(title=="Contact Me") { %>
                <a class="nav-link active" href="/contact">
              <% } else { %>
                <a class="nav-link" href="/contact">
            <% } %>
              <i class="fa-solid fa-phone"></i> Contact Me</a>
          </li>
          <li class="nav-item">
            <% if(title=="GitHub") { %>
                <a class="nav-link active" href="/github">
              <% } else { %>
                <a class="nav-link" href="/github">
            <% } %>
            <i class="fa-brands fa-square-github"></i> GitHub</a>
          </li>
          <li class="nav-item">
            <% if(title=="LinkedIn") { %>
                <a class="nav-link active" href="/linkedin">
              <% } else { %>
                <a class="nav-link" href="/linkedin">
            <% } %>
            <i class="fa-brands fa-linkedin"></i> LinkedIn</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  